[submodule "external/rust"]
	path = external/rust
	url = https://github.com/rust-lang/rust.git
[submodule "external/openlibm"]
	path = external/openlibm
	url = https://github.com/JuliaLang/openlibm.git
[submodule "external/bassert"]
	path = external/bassert
	url = git@github.com:scialex/bassert.git
[submodule "external/enabled"]
	path = external/enabled
	url = git@github.com:scialex/enabled.git
