[submodule "doc"]
	path = doc
	url = https://github.com/scialex/empty.git
	branch = master
[submodule "external/rust"]
	path = external/rust
	url = https://github.com/rust-lang/rust.git
[submodule "external/openlibm"]
	path = external/openlibm
	url = https://github.com/JuliaLang/openlibm.git
